
body {
    background-color: #f0f0f0;
}

#mainContent{
    width: 100%;
    display: flex;

}
#navigation{
    height: 300px;
    width: 250px;
    border: 2px solid #e0e0e0;
    margin: 5%;
    border-radius: 5px 40px 5px;
    position: fixed;


}

#about_content{
    width: 80%;
    justify-self: flex-end;
    margin-left: 20% ;
}

#about_content div{
    border: 2px solid yellow;
    margin: 100px;
}

#navpoints{
    margin: 60px;
}

 #navpoints li{
     margin: 30px;
 }

 .title{
     font-family: 'Kumbh Sans', sans-serif;
     font-size: 20px;
     margin: 60px;
     display: flex;
 }