main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 750px;
    padding: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("../images/music-instruments.jpg");
    background-size: cover;
    background-position-y: center;
}

form {
    background-color: #f7f7f7;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,1);
    border-radius: 10px;
    padding: 25px;
    min-width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    margin-top: 25px;
}

.input {
    border: 1px solid rgba(20, 18, 54, 0.33);
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
}

textarea {
    max-height: 400px;
    min-height: 150px;
    height: 250px;
    resize: vertical;
    cursor: auto;
}

.input:focus {
    border: 1px solid rgba(20, 18, 54, 1);
    outline: none;
}

.button {
    margin-top: 10px;
    min-width: 100%;
}