main {
    padding: 20px;
}

main img {
    max-height: 500px;
    box-shadow: -3px 3px 10px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -3px 3px 10px 0px rgba(0,0,0,1);
    -moz-box-shadow: -3px 3px 10px 0px rgba(0,0,0,1);
    object-fit: cover;
}

.event-text p:first-of-type {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.event-text p {
    margin-top: 10px;
}

.event-text {
    background-color: #ffffff;
    width: 100%;
    margin: 30px 0;
    padding: 17px;
    border: 1px solid var(--borderColor);
}

.event-text p:last-of-type {
    margin-bottom: 20px;
}

.event-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.event-buttons a {
    width: 46%;
}

@media screen and (max-width: 500px) {
    .event-buttons {
        flex-direction: column;
    }

    .event-buttons a {
        width: 90%;
        margin: 5px 0;
    }
}