main {
    padding: 20px;
}

/* LEFT COLUMN: */
.left-main {
    padding: 20px;
}

.d-block {
    height: 400px;
    width: 100%;
}

#myCarousel {
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: -3px 3px 10px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -3px 3px 10px 0px rgba(0,0,0,1);
    -moz-box-shadow: -3px 3px 10px 0px rgba(0,0,0,1);
}

.carousel-item img {
    object-fit: cover;
}

.carousel-caption h3,
.carousel-caption p {
    color: #f0f0f0;
    background-color: rgba(0, 0, 0, 0.50);
}

#greeting-wrapper {
    width: 100%;
}

#greeting-text h1 {
    margin: 20px 0px;
}

#news-wrapper {
    margin-top: 40px;
}

.important-notice {
    background-color: #ffff00;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}

/* RIGHT COLUMN: */
.highlighted-event {
    height: 700px;
    margin: 30px 5px;
}

.highlighted-event a:first-of-type {
    width: 100%;
    height: 50%;
}

.highlighted-event img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease;
    box-shadow: -3px 3px 10px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -3px 3px 10px 0px rgba(0,0,0,1);
    -moz-box-shadow: -3px 3px 10px 0px rgba(0,0,0,1);
}

.highlighted-event img:hover {
    opacity: 70%;
}

.highlighted-event h4 {
    margin-top: 10px;
}

.highlighted-event > p {
    font-weight: bold;
}

.highlighted-event a:last-of-type {
    width: 75%;
}

@media screen and (min-width: 1200px) {
    main {
        padding: 50px;
    }

    .event-description {
        height: 150px;
    }

    .highlighted-event {
        height: 650px;
    }
}