.us
{
    width:200px;
    height:186px;
    border-radius: 50px;
    transition: .5s ease; 
    box-shadow: -1px 2px 10px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -1px 2px 10px 0px rgba(0,0,0,1);
    -moz-box-shadow: -1px 2px 10px 0px rgba(0,0,0,1);
    
   
}
.us:hover
{
    opacity:70%;   
}
img
{
   
}
#morten
{
    object-fit: cover;
}

    /*border-image: 1px linear-gradient(
          to bottom, 
          purple, 
        rgba(0, 0, 0, 0)) 1 100%;
    border-radius: 50%;
    
    border-width: 3px;
    border-style: solid;*/

.flex-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    margin-bottom: 25px;
    margin-top: 200px;
}

h1
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer
{
    
   
}
.flexbox
{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
}
main
{
    
    height: 700px;
}
a:hover
{
    
  
}