#header{
    background-color: #990000;
    text-align: center;
    padding: 20px 20px;
}

#header h1  {
    color: #FFF;
}

.row:nth-child(even) {
    background-color: #aaa;
}

.row:nth-child(odd) {
    background-color: #ddd;
}

.row {
    border-style: solid;
    padding: 10px;
}

.row img {
    width: 100%;
    height: auto;
}

.row div:nth-child(2) div {
    background-color: #000;
    padding: 5px 0px;
    
}

.row div:nth-child(2) p {
    color: #FFF;
    text-align: center;
    font-weight: bold;
}

.button {
    padding: 5px 5px;
}

@media screen and (max-width:992px) {

    .center_button {
        text-align: center;
    }
}