.floating  {
    float:left;
}

#event_image {
    height: 146px;
    width: 200px;
}

#event_text {
    height: 146px;
    width: 150px;
    background-color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#event_text p{
    color: #FFF;
}

#event_description {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
}



.events {
    width: 80%;
    margin:0 auto;
}

#event  {
    height: 150px;
    width:auto;
    border-style: solid;
    border-width: 2px;
}

#genre {
    height: 20px;
    width: 150px;
    background-color: #459525; 
    color: #FFF;
}

div#event:nth-child(odd) {
    background-color: #aaa;
}

div#event:nth-child(even) {
    background-color: #666;
}

#header{
    background-color: #990000;
    text-align: center;
    padding: 20px 20px;
}

#header h1  {
    color: #FFF;
}

#event_buttons {
    padding: 5px 5px;
}



