.row img {
    width: 100%;
}

#header{
    background-color: #990000;
    text-align: center;
    padding: 20px 20px;
}

#header h1  {
    color: #FFF;
}

.row {
    border-style: solid;
    padding: 10px;
}

.pad_down
{
    padding-bottom: 10px;
}

.button {
    padding: 5px 5px;
}